@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 210deg 40% 98%;
    --color-secondary: 217deg 32.6% 17.5%;
    --color-accent1: 288deg 95.8% 90.6%;
    --color-accent2: 168deg 83.8% 78.2%;
    /* ... */
  }
  @media (prefers-color-schema: dark) {
    :root {
      --color-primary: 217deg 32.6% 17.5%;
      --color-secondary: 210deg 40% 98%;
      --color-accent1: 288deg 95.8% 60.6%;
      --color-accent2: 168deg 83.8% 78.2%;
      /* ... */
    }
  }
}

@media screen and (min-width: 320px) {
  .container {
    padding: 10px;
  }
  body {
    font-size: 14px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .btn {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 20px;
  }
  body {
    font-size: 16px;
  }
  .btn {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 30px;
  }
  body {
    font-size: 18px;
  }
  .btn {
    font-size: 18px;
  }
}

.btn {
  @apply rounded-full py-2 px-3 uppercase font-bold cursor-pointer tracking-wider;
}
